body {
    padding: 25px;
    background-color: antiquewhite;
}

.image {
    float: left;
    width: 50%;
    height: 300px;
    overflow: hidden;
}

.image--cover {
    object-fit: cover;
}

.image--fake {
    background-size: cover;
    background-position: center;
}

.image--poly {
    font-family: 'object-fit: cover';
}